#container{
	margin: auto;
	max-width: 632px;
	padding-top: 25vh;

}

a{
	text-decoration: none;
	color:rgb(117, 117, 117);
	font-size: 13px;
	font-family: arial, sans-serif;
}

a:visited{
	color: rgb(25, 88, 201);
}

a:hover{
	text-decoration:underline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
	padding: 1em;

}

li {
	display:inline;
	padding: 1em;
}

#inputBox{
	display: block;
	margin-top: -3px;
	
	width: 632px;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: rgb(204, 204,204);
	border-width: 2px;
	height: 44px;


}

input {
	border: hidden;
	margin: 0;
	font-size: 18px;
	height: 40px;
	width:550px;
	display: inline;
}

input:focus {
	outline:none;
}

#S{
	border-radius: 70%;
	background-color:rgb(192, 30,92);
	color: white;
	padding: 10px;
}

#logo{
	text-align: center;
	display: block;
}

#searchBar {
	display: block;
	height: 44px;

	padding-top: 8px;
	position: relative;
	margin: auto;

}

#microphone{
	height: 40px;
	width:40px;
	float: right;
	margin:	2px;
	background-image: url("../Img/google_mic_img.png");
	background-size: cover;
}
#searchButton{
	margin:auto;
	max-width: 250px;
}
.searchButton{
	text-align: center;
	margin: auto;
	position: relative;
	padding: 10px;
	margin-top: 3em;
}

#googleSearch{
	margin-right: 0.75em;
}
#feelingLucky{

}
#location{
	background-color: rgb(242,242,242);
	padding:0.75em;
	border-bottom: solid;
	border-color:  rgb(228,228,228);
	border-width: 0.1em;
	font-size: 15px;
	font-family: arial, sans-serif;
}

button{
	border: none;
	background-color: rgb(242,242,242);
	color: rgb(117,117,117);
	font-size: 13px;
	font-family: arial, sans-serif;
}

footer{
	position: absolute;
	background-color: rgb(242,242,242);
	bottom: 0;
	right: 0;
	left: 0;
	border-top: solid;
	border-color:  rgb(228,228,228);
	border-width: 0.1em;
}

#l-footer{
	float:left;
	padding:0.75em;
	font-size: 13px;
	font-family: arial, sans-serif;

}
#r-footer{
	float:right;
	padding:0.75em;
	font-size: 13px;
	font-family: arial, sans-serif;
}



